@import 'variables';
@import 'mixins';

.import-form {
  background-color: themed-color('secondary');
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: themed-color('accent');
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    color: themed-color('accent');
  }

  .file-input-wrapper {
    display: flex;
    align-items: center;
  }

  .file-label {
    @include button-style;
    background-color: themed-color('accent');
    color: themed-color('primary');

    &:hover {
      background-color: darken(themed-color('accent'), 10%);
    }
  }

  .file-name {
    margin-left: 10px;
    color: themed-color('accent');
  }

  input[type="file"] {
    display: none;
  }

  select,
  input[type="text"] {
    @include input-style;
  }

  .import-button {
    @include button-style;
    width: 100%;
    background-color: themed-color('warning');
    color: themed-color('primary');

    &:hover {
      background-color: darken(themed-color('warning'), 10%);
    }

    &:disabled {
      background-color: lighten(themed-color('warning'), 20%);
      cursor: not-allowed;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;

  input, select {
    @include input-style;
    width: 15%;
    margin-bottom: 10px;

    &::placeholder {
      color: lighten(themed-color('accent'), 20%);
    }
  }

  .transactions-per-page {
    width: auto;
    margin-left: 10px;
  }
}